@use 'colors';

.footer {
    text-align: center;
    position: absolute;
    bottom: 5vh;
    width: 100vw;
    z-index: 10;
}

.footer-text {
    font-size: 1rem;
    color: colors.$white;
}

.social-icons {
    position: relative;
    z-index: 10;
}

.icon-link {
    margin: 0 1vw;
    text-decoration: none;
}

.icon {
    width: 4vh;
    height: 4vh;
    padding: 0;
    margin: 0;
    fill: colors.$white;
}

.icon:hover {
    fill: colors.$white;
    transition: ease-in-out 0.3s;
    transform: scale(1.2);
}

.footer-credit {
    font-size: 1.2vh;
    margin-top: 2vh;
    color: colors.$white;
}
