@use "colors";

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9999;
  height: 7vh;

  // Blur background
  backdrop-filter: blur(10px);
}

.logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

.logo img {
  width: 5vh;
  height: 5vh;
}

.nav-social {
  display: absolute;
  margin: 0;
  padding: 0;
  top: 10vh;
  left: 3vw;
}
