---
import BaseLayout from "../Layouts/BaseLayout.astro";
---

<BaseLayout>
	
	<div class="circle-red-top"></div>
	<div class="circle-green-top-left"></div>
	<div class="circle-blue-mid-left"></div>
	<div class="circle-green-bot-left"></div>
	<div class="circle-red-bot-right"></div>
	<div class="circle-green-mid-right"></div>

	<div class="text">
		<h2>FlavorShare</h2>
		<h1>Coming Soon</h1>
		<p>In the meantime, follow us on our social media to stay up to date.</p>
	</div>
  	
</BaseLayout>