---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.scss";
---

<BaseLayout>
  <div class='circle-red-top'></div>
  <div class='circle-green-top-left'></div>
  <div class='circle-blue-mid-left'></div>
  <div class='circle-green-bot-left'></div>
  <div class='circle-red-bot-right'></div>
  <div class='circle-green-mid-right'></div>

  <div class='app'>
    <img src='/images/appStore.png' alt='App Store Logo' class='app-store' />
    <img src='/images/icon.png' alt='App Store Logo' class='app-icon' />
  </div>

  <div class='text'>
    <h2>FlavorShare</h2>
    <h1>Coming Soon!</h1>
    <h3>Winter 2025! Only on iOS.</h3>

    <p>In the meantime, follow us on our social media to stay up to date.</p>

    <!-- <div class='email-container'>
		<input
			type='email'
			placeholder='Enter your email address'
			class='email-input'
		/>
		<button class='subscribe-button'>Subscribe</button>
	</div> -->
  </div>
</BaseLayout>
