---
import "../styles/footer.scss";
import Socials from "./Socials.astro";

const currentYear: number = new Date().getFullYear();
---

<footer class='footer'>
  <Socials />
  <p class='footer-credit'>
    © {currentYear} FlavorShare | All Rights Reserved
  </p>
</footer>
